body{
    margin: 0%;
    background-color: rgb(228, 228, 228);
}

/*-------------- HEADER --------------*/
header .headerTop{
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: #fff;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
header .headerTop .container{
    width: 90%;
    height: 90%;

    display: flex;
    align-items: center;
}
/* LOGO */
header .headerTop .container img{
    width: 20%;
    float: left;
}
/* HEADER BACKGROUND */
header .headerBackground{
    width: 100%;
    height: 550px;

    background-image: url("../IMG/Header.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*-------------- MAIN --------------*/
main .jobs{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 30pt;
    color: rgb(126, 126, 126);

    margin-top: 0%;
    margin-bottom: 7%;
}
/* CARDS */
main .cards{
    width: 100%;
    max-width: 100%;
    height: 500px;
}
main .cards .container{
    width: 100%;
    margin-bottom: 20%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
main .cards .container .card1{  /* CARD1 */
    width: 25%;
    height: 250px;

    background-color: #3f3f3f;

    display: flex;
    align-items: center;
    justify-content: center;
}
main .cards .container .card2{  /* CARD2 */
    width: 25%;
    height: 250px;

    background-color: #3f3f3f;

    color: #fff;
    font-size: 20pt;

    display: flex;
    align-items: center;
    justify-content: center;
}
main .cards .container .card3{  /* CARD3 */
    width: 25%;
    height: 250px;

    background-color: #3f3f3f;

    color: #fff;
    font-size: 20pt;

    display: flex;
    align-items: center;
    justify-content: center;
}
/*BIO*/
main .bio .bioTitle{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 30pt;
    color: rgb(126, 126, 126);

    margin-top: 5%;
    margin-bottom: 5%;
}
main .bio .bioText{

    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 30pt;
    color: rgb(126, 126, 126);
    font-size: 15pt;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
main .bio .bioText .container{
    margin-bottom: 7%;

    width: 80%;
}
/*Habilidades*/
.habilidades{
    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.habilidades-title{
    width: 100%; 

    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 30pt;
    color: rgb(126, 126, 126);

    margin-top: -5%;
    margin-bottom: 5%;
}
.habilidades-icons{

    width: 70%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.habilidades-icons i{
    font-size: 100pt;
    margin: 30px;

    color: rgb(126, 126, 126);
}
.habilidades-icons i:hover{
    color: #3f3f3f;
}



.card1 a{
    color: #fff;
    font-size: 18pt;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}
.card2 a{
    color: #fff;
    font-size: 18pt;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}
.card3 a{
    color: #fff;
    font-size: 18pt;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}

#img1{
    width: 70%;
}
#img2{
    width: 45%;
}
#img3{
    width: 45%;
}
/*-------------- FOOTER --------------*/
footer{
    width: 100%;
    height: 70px;

    background-color: #3f3f3f;

    margin-top: 10%;
}


@media (max-width: 2500px){
    header .headerTop .container img{
        width: 5%;
    }
}


