@media only screen and (max-width: 400px){
    /*HEADER*/
    header{
        width: 100%;
        height: 100vh;

        background-size: cover;
        background-position-x: 0%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        width: 90%;
        height: 90%;

        margin: 0;

        background-color: rgba(0,0,0,0.3);
    }
    .text{
        text-align: justify;
        margin-top: 15%;
    }
    .header-btn{
        margin-top: 10%;
        width: 50%;
    }
    
    /* MAIN */
    main{
        width: 100%;
        margin-top: 5%;
    }
    .main-container{
        width: 90%;
    }

    /* MAIN LEFT */
    .main-left{
        width: 100%;
        height: 90%;
    }
    .main-title{
        justify-content: center;
    }
    .main-text{
        width: 90%;
    }
    .main-btn{
        margin-top: 10%;
    }

    /* MAIN RIGHT */
    .main-right{
        width: 100%;

        margin-top: 70%;
    }
    .main-title-r{
        justify-content: center;
    }
    .tecnologias{
        font-size: 45pt;
    }

    /* CONTATO */
    .contato{
        margin-top: 190%;
        width: 100%;
    }
    .contato-title{
        display: none;
    }
    form{
        width: 100%;
    }
    .contato-container{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-container{
        width: 80%;
    }
    input[type=submit]{
        margin-left: 25%;
        width: 50%;
    }

    /* FOOTER */
    footer{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-container{
        width: 40%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


@media only screen and (max-width: 800px) and (orientation: landscape){
    header {
        height: 200vh;
    }
    .header-content{
        width: 85%;
        height: 80%;
    }    

    .main-left{
        width: 100%;
    }
    .main-right{

        margin-top: 70%;

        width: 100%;
    }
    .main-btn{
        padding: 3% 3%;
    }
    .contato{
        height: 100vh;
        margin-top: 150%;
    }
    input[type=submit]{
        width: 60%;
    }
    footer{
        width: 100%;
        height: 20vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-container{
        width: 25%;
    }
    .email{
        margin-top: 2%;
        width: 100%;
        height: 10vh;
    }
    .tecnologias{
        font-size: 50pt;
        margin-bottom: -35%;
    }

    .linha1{
        margin-top: 5%;
    }
    .linha2{
        margin-top: 5%;
    }
    .linha3{
        margin-top: 5%;
        margin-bottom: -10%;
    }
    .main-title-r{
        margin-top: -15%;
    }
}